<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/introduce.css">
  
</head>
<body>
	<h1>制作者</h1>
  <div class="container">
		<div class="card">
			<div class="lines"></div>
			<div class="imgBx">
				<img src="img/img3.jpg">
			</div>
			<div class="content">
				<div class="details">
					<h2>TeamLeader</h2>
					<p>チーム総括<br>地図ページ制作<br>tryrtytr<br>trytr</p>

					<a href="#">Read More</a>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="lines"></div>
			<div class="imgBx">
				<img src="img/img2.jpg">
			</div>
			<div class="content">
				<div class="details">
					<h2>DataBase</h2>
					<p>fdgdfgdfgdfgdfgdfgfgfgfgf<br>DataBase連結<br>화면연결<br>sdfsdfd</p>
					<a href="#">Read More</a>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="lines"></div>
			<div class="imgBx">
				<img src="img/상위.jpg">
			</div>
			<div class="content">
				<div class="details">
					<h2>Database</h2>
					<p>dfgdfgdfggdfgdfgdgdgfgdgfdfgggfgg</p>
					<a href="#">Read More</a>
				</div>
			</div>
	</div>
	<div class="card">
		<div class="lines"></div>
		<div class="imgBx">
			<img src="img/송명진(님) (1) (2).jpg">
		</div>
		<div class="content">
			<div class="details">
				<h2>Design</h2>
				<p>メインページ制作<br>総括デザイン<br>人物紹介ページ制作</p>
				<a href="#">Read More</a>
			</div>
		</div>
		</div>
		<div class="card">
			<div class="lines"></div>
			<div class="imgBx">
				<img src="img/design.png">
			</div>
			<div class="content">
				<div class="details">
					<h2></h2>
					<p>gfdgfgggdfgfddgfgfggg</p>
					<a href="#">Read More</a>
					</div>
				</div>
			</div>
			<a href="#" class="btn">画面転換<span><ion-icon name="arrow-forward-outline"></ion-icon></span></a>
			<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
			<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>