<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.project.akiyaProject.repository.BoardMapper">
	<insert id="houseRegister">
		<selectKey keyProperty="house_id" resultType="long" order="BEFORE">
			select house_seq from dual
		</selectKey>
		insert into house(
		house_id,
		city,
		address,
		price,
		completed,
		floor,
		housesize,
		bus,
		subway,
		convini,
		hospital,
		aircon,
		bathroom,
		parking,
		washer,
		pet,
		autolock
		) values(
		#{house_id},
		#{city},
		#{address},
		#{price},
		#{completed},
		#{floor},
		#{housesize},
		#{bus},
		#{subway},
		#{convini},
		#{hospital},
		#{aircon},
		#{bathroom},
		#{parking},
		#{washer},
		#{pet},
		#{autolock}
		)
	</insert>
	<select id="houseList" resultType="houseInfo">
		select * from house
		<where>
			<if test="#{bus} != null">bus = "TRUE" and</if>
			<if test="#{subway} != 'FALSE'">subway = "TRUE" and</if>
			<if test="#{convini} != 'FALSE'">convini = "TRUE" and</if>
			<if test="#{hospital} != 'FALSE'">hospital = "TRUE" and</if>
			<if test="#{aircon} != 'FALSE'">aircon = "TRUE" and</if>
			<if test="#{bathroom} != 'FALSE'">bathroom = "TRUE" and</if>
			<if test="#{parking} != 'FALSE'">parking = "TRUE" and</if>
			<if test="#{washer} != 'FALSE'">washer = "TRUE" and</if>
			<if test="#{pet} != 'FALSE'">pet = "TRUE" and</if>
			<if test="#{autolock} != 'FALSE'">autolock = "TRUE" and</if>
			price between #{price_min} and #{price_max} and
			housesize between #{houseSize_min} and #{houseSize_max}
		</where>
	</select>
	<select id="getHouseById" resultType="houseInfo">
		select * from house where house_id = #{house_id}
	</select>
</mapper>